<component name="ArtifactManager">
  <artifact type="war" name="spring-web:war">
    <output-path>$PROJECT_DIR$/spring-web/target</output-path>
    <root id="archive" name="spring-web.war">
      <element id="artifact" artifact-name="spring-web:war exploded" />
    </root>
  </artifact>
</component>