<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<!--起动Bean -->
	<bean id="z" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<!-- 处理adapter 数据 -->
				<ref bean="etlTrigger" />
				<!-- 处理 mpi 数据 -->
				<ref bean="mpiTrigger" />
			</list>
		</property>
	</bean>

	<!-- 采集主任务 -->
	<bean id="etlService" class="com.bsoft.cdr.etl.decompress.service.EtlService"></bean>

	<bean id="etlJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="etlService" />
		</property>
		<property name="targetMethod">
			<value>transmission</value>
		</property>
		<property name="concurrent">
			<value>false</value>
		</property>
	</bean>
	<bean id="etlTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="etlJobDetail" />
		</property>
		<property name="cronExpression">
			<!--<value>0 31 16 * * ? *</value> -->
			<value>0/1 * * * * ? *</value>
		</property>
	</bean>















	<!-- MPI主任务 -->
	<bean id="mpiService" class="com.bsoft.cdr.etl.decompress.service.EtlService"></bean>

	<bean id="mpiJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="mpiService" />
		</property>
		<property name="targetMethod">
			<value>generateMpi</value>
		</property>
		<property name="concurrent">
			<value>false</value>
		</property>
	</bean>
	<bean id="mpiTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="mpiJobDetail" />
		</property>
		<property name="cronExpression">
			<!--<value>0 31 16 * * ? *</value> -->
			<value>0/1 * * * * ? *</value>
		</property>
	</bean>
</beans>